<h1>Here's your Doctor</h1>

<h2>Name:</h2>
<h3>$doctor.getName()</h3>

<h2>Specialty:</h2>
<h3>$doctor.getSpecialty()</h3>

<a href="/doctors/$doctor.getId()/select-pts">Assign Patients to $doctor.getName()</a>
